<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <img src="https://source.unsplash.com/300x300/?portrait"></img>
      </div>
    </div><!-- Userの画像-->
    
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username">test</h2>
        <a class="edit-profile" href="<%= edit_user_path(current_user) %>">
          <button>Edit Profile</button>
        </a>
      </div>
      <ul class="posts">
        <li><span>12</span> posts</li>
        <li><span>1133</span> followers</li>
        <li><span>3435</span> following</li>
      </ul>
      <h2 class="name">Name</h2>
      <a class="website">xxxx.com</a>
    </div>
  </div>
</div>

<div class="user-tabs">
  <a class="tab active" href="#">
    <i class="fa fa-th"></i>
    POSTS
  </a>
  <a class="tab" href="#">
    <i class="fa fa-tv"></i>
    IGTV
  </a>
  <a class="tab" href="#">
    <i class="fa fa-bookmark"></i>
    SAVED
  </a>
  <a class="tab" href="#">
    <i class="fa fa-tag"></i>
    TAGGED
  </a>
</div><!--ページ切り替え-->

<div class="user-images">
  <div class="wrapper">
    <img src="https://source.unsplash.com/400x400/?portrait"></img>
  </div>
  <div class="wrapper">
    <img src="https://source.unsplash.com/400x401/?vacation"></img>
  </div>
  <div class="wrapper">
    <img src="https://source.unsplash.com/400x402/?vacation"></img>
  </div>
</div>